{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
         
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Staff Id</th>
          <th>Username</th>
          <th>Firstname</th>
           <th>Lastname</th>
          <th>Email</th>
          <th>Load</th>
          <th>Teaching Load</th>
          <th> Research Load</th>
           <th>Community Load</th>
           <th>Administrative Load</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first }}</td>
          <td>{{ user.last }}</td>
          <td>{{ user.email}}</td>
          <td>{{ user.load}}</td>
          <td>{{ user.teaching}}</td>
          <td>{{ user.research}}</td>
          <td>{{ user.community}}</td>
          <td>{{ user.administrative}}</td>
        </tr>
      
      </tbody>
    </table>
    </div>
  
 

    <tr>
        <td>{{ teaching_load.courses }}</td>
        <td>{{ teaching_load.honours_research_supervision }}</td>
    </tr>





{% endblock %}
