{% extends "base.html" %}
{% load static %}

{% block content1 %}
<h5 class="card-title bg-primary"> Research Supervision </h5>
<form name="supervision" action="" method="post" >
    {% csrf_token %}
<div class="row">
    <div class="col-md-6 mb-3">
    <label for="text">Student Name</label>
    <input type="text" name="student_name" class="form-control" placeholder=" Student name" required>
 </div>
 <div class="col-md-6 mb-3">
    <label for="text">Research Type </label>
    <select class="form-control" name="research_type">
       <option value="honours">honours</option>
       <option value="postgraduate">postgraduate</option>
       </select>
    </div>
    <div class="button">
        <input type="submit" name="research_supervision">
    </div>
</div>
</form> 
{% endblock %}


{% block content2 %}
<h5 class="card-title bg-primary"> Course Form </h5>

<form name="supervision" action="" method="post" >
    {% csrf_token %}
<div class="row">
    <div class="col-md-6 mb-3">
    <label for="text">Course Name</label>
    <input type="text" name="course_name" class="form-control" placeholder=" Course name" required>
 </div>
 <div class="col-md-6 mb-3">
    <label for="text"> Coordinating </label>
    <div class="checkbox">
        <!-- Default checkbox value to post if unchecked -->
        <input type='hidden' value='False' name='coordinating'>
        <label><input type="checkbox" value="True" name="coordinating">  Coordinating</label>
      </div>
</div>
<div class="col-md-6 mb-3">
    <label for="text">Experience </label>
    <select name="experience" class="form-control"  id="experience">
       <option value="fto">1st time teaching course overall</option>
       <option value="fti">1st time teaching course at the institution </option>
       <option value="exp">Experienced</option>
       </select>
    </div>
    <div class="col-md-6 mb-3">
        <label for="text">Sessions </label>
        <select name="sessions" class="form-control"   id="experience">
           <option value="t">Theory</option>
           <option value="p">Practicals </option>
           </select>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
            <label for="text">Groups</label>
            <input type="text" name="groups" class="form-control" placeholder="Groups" required>
         </div>
        <div class="button">
            <input type="submit" name="courses">
        </div>
        </div>
</form>   
{% endblock %}